body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #fff;
    
}

a {
    text-decoration: none;
    color: #434455;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
     
}

.section {
    display: block;
    padding-bottom: 120px;
}

/* Header section */ 

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
    
}  

.logo {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17em;
    letter-spacing: 0.03em;
    color:#4d5ae5;
    
}

.logo-dark {
    color: #2E2F42;
}

.logo-light {
    color: #F4F4FD;       
}

.header-nav-list {
    display: inline-flex;
    align-items: flex-start;
    gap: 40px;
}

.nav-list-link:hover,
.nav-list-link:focus,
.nav-list-link:active {
    color: #404BBF;
}

.nav-list-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.02em; 
    color: #2E2F42;
}

.address-link:hover,
.address-link:focus {
    color: #404BBF;
}

.address {
    font-style: normal;

}

.address-link {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 0.02em; 
}

/* Hero section */
.hero-container {
    background-color: #2E2F42;
   
 
  
}

.hero-title {
    color: #fff;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07em;
    letter-spacing: 0.02em;
    text-align: center;
    width: 496px;
    
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}

.hero-button {
    background-color: #4D5AE5;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
   
    padding: 16px 32px;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
   
   
}

/* Benefit section */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.benefits-container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    width: 1128px;
    
    flex-shrink: 0;
}

.benefits-item {
    display: inline;
    width: calc((100% - 72px)/3);
    align-items: flex-start;
    gap: 8px;
}

.benefit-subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2e2f42;

}

.benefit-text {
    color: #434455;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    text-align: left;
}

/* Team section */
.team-block {
    background-color: #F4F4FD;
}

.team-card {
    background-color: #fff;
}

.team-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11em;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}

.team-list {
    background-color: #FFFFFF;
}

.team-item {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.team-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Portfolio section */
.portfolio-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11em;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}

.portfolio-item {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: left;
}

.portfolio-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: left;
}

/* Footer section */
.footer-block {
    background-color: #2E2F42;
    width: 1440px;
    height: 312px;
}

.footer-text {
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    width: 264px;
    margin-bottom: 100px;
}